* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  line-height: 1.6;
  color: #2f8bb9;
  background-image:url('https://cdn.tgdd.vn/GameApp/1369751/100-hinh-nen-lofi-cuc-chill-28-800x450.jpg');
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* ===== HEADER ===== */
.top-banner {
  background: linear-gradient(to bottom, #4f44a6, #4143c3);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  color: red;
}
.header {
  background: linear-gradient(to bottom,rgb(139, 121, 209), #eef4f9);
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration:none;
}
.logo img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #f27878;
}
.logo-text h1 { 
  font-size: 40px;
  font-weight:900;
  background: linear-gradient(to bottom, #4f44a6, #7d2222);
  background-clip:text;
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent;
}
.search-bar {
  flex:1;
  max-width: 800px;
  padding:8px;
  display: flex;
  background: #dcd0d0;
  border:2px solid #667eea;
  border-radius: 50px;
}
.search-bar input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  background: none;
}
.search-bar button {
  padding: 12px 20px;
  background: linear-gradient(to bottom, #7d60b8, #4143c3);
  color: #f6ebeb;
  border-radius: 40px;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cart-btn {
  padding: 18px 25px;
  background: linear-gradient(to bottom, #4f44a6, #4143c3);
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  display:flex;
  align-items: center;
  gap: 8px;
}
.user-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border:2px solid rgb(140, 75, 198);
  background: linear-gradient(to bottom, #a38fe5, #0b20ff);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
/* ===== NAVIGATION ===== */
.main-nav {
  background: linear-gradient(to bottom, #4f44a6, #4143c3);
  overflow-x: auto;
}
.nav-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  list-style: none;
  padding: 0;
}
.nav-item {
  flex: 1;
  min-width: 100px;
}
.nav-link {
  display: block;
  padding: 30px 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

/* ===== AUTH CONTAINER ===== */
.auth-container {
    max-width: 450px;
    margin: 40px auto;
    background: #83c197;
    border-radius: 10px;
    padding: 40px;
    color:rgb(0, 0, 0);
    border:2px solid rgb(0, 4, 226);
}
.form-title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #569be0;
}
.btn-primary {
    background: linear-gradient(to bottom, #d93406, #0064cf);
   border:2px solid rgb(3, 3, 3);
}
.switch-form {
    text-align: center;
    margin-top: 20px;
    color: #000000;
}
.switch-form a {
    color: #3645ca;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
/* ===== FOOTER ===== */
.footer {
  padding: 40px 20px;
  color: #000;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
  background: url('https://png.pngtree.com/background/20230410/original/pngtree-beautiful-flowers-cartoon-nature-background-of-flowers-plant-field-picture-image_2385639.jpg') center/cover;
  border:4px solid rgb(0, 0, 0);
}
.footer-section { 
  margin-bottom:20px;
}
.footer-logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #667eea;
}
.footer-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  color:rgb(21, 20, 20);
}
.footer-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #34495e;
}
.footer-desc {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 18px;
  color: #000;
}
.footer-badges {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.badge-img {
  height: 40px;
  border-radius: 6px;
}
.footer-list,
.footer-contact {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-list li,
.footer-contact li {
  display: flex;
  gap: 10px;
  padding: 8px 0;
  font-size: 14px;
  color: #d81b1b;
}
.footer-list li i,
.footer-contact li i {
  min-width: 20px;
  margin-top: 2px;
  font-size: 16px;
  color: #667eea;
}

.footer-list strong,
.footer-contact strong {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
  color: #000;
  font-size: 20px;
}
.footer-list span,
.footer-contact span {
  display: block;
  font-size: 18px;
  color: #f00b0b;
}
.footer-contact a {
  display: block;
  margin-top: 2px;
  font-size: 18px;
  color: #667eea;
  text-decoration: none;
  -webkit-text-stroke: 0.5px #160896;
}
.social-links { 
  margin-top: 20px; 
}
.social-icons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #fff;
  text-decoration: none;
}
.social-icon.icon {
   background: rgb(255, 255, 255);
   color:#d52323;
   border:4px solid rgb(255, 0, 0);
   font-size:20px;
}
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height:48px;
  border-radius: 30%;
  display: none;
  place-items: center;
  background: #667eea;
  color: #fff;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 6px 16px #667eea59; 
}
.back-to-top.show {
  display: grid;
}